<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Jinryaku Dojo</title>
<body>
  <header>
    <div class="headlogo">
      <img src="{{ '/static/lheader.jpg'|url }}" class="logoleft">
      <h1 class="centerh">Jinryaku Dojo</h1>
      <img src="{{ '/static/rheader.jpg'|url }}" class="logoright">
    </div>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/jinryaku-dojo', 'Jinryaku Dojo'],
          ['/genbukan', 'Genbukan'],
          ['/systems', 'Systems'],
          ['/training', 'Training'],
          ['/tanemura-shoto-sensei', 'Grandmaster'],
          ['/instructors', 'Instructors'],
          ['/photos', 'Photos'],
          ['/links', 'Links'],
          ['/contact', 'Contact']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav">
        {% for href, title in [
          ['/systems', 'Grandmaster']
        ] %}
        {% if this.is_child_of(href) %}
          <li><a class="sublink" href="{{ '/systems/genbukan-ninpo-bugei'|url }}">Genbukan Ninpo Bugei</a></li>
          <li><a class="sublink" href="{{ '/systems/kokusai-ju-jutsu-renmei'|url }}">Kokusai Ju Jutsu Renmei</a></li>
          <li><a class="sublink" href="{{ '/systems/goshin-jutsu'|url }}">Goshin Jutsu</a></li>
          <li><a class="sublink" href="{{ '/systems/amatsu-tatara'|url }}">Amatsu Tatara</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <div class="centerf">
      &copy; Copyright by Tanemura Shoto Sensei &amp; Jinryaku Dojo Belgium. All rights reserved.
    </div>
  </footer>
</body>
